* {
    box-sizing: border-box;
}

:root {
    --Primary-color-black: #152427;
    --Primary-color-black-green: #143C3C;
    --Secondary-color-light-green: #E2EDDF;
    --text-color-black-gray: #575D5E;
    --text-color-light-gray: #7D8188;

    --white-color: #fff;
    --black-color: #000;

}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

html,
body {
    scroll-behavior: smooth;
}

/* =============== Common =============== */
.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    --height: 57px;
    display: inline-block;
    min-width: 173px;
    height: var(--height);
    line-height: var(--height);
    padding: 0 20px;
    text-align: center;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    border: 1.5px solid #143c3c;
    border-radius: 99px;
    color: var(--white-color);
    background: var(--Primary-color-black-green);
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.section-heading {
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
    color: var(--Primary-color-black);
}

.section-title {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62;
    color: var(--Primary-color-black);
}

.section-title::before {
    display: inline-block;
    content: "";
    width: 25px;
    height: 1px;
    background-color: var(--Primary-color-black);
    margin-bottom: 4px;
    margin-right: 21px;
}

.lv1 {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
    color: var(--text-color-light-gray);
}

.lv2 {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62;
    color: var(--text-color-light-gray);
}

.lv3 {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71;
    color: var(--text-color-light-gray, #7D8188);
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.line-clamp.line-3 {
    --line-clamp: 3;
}

.break-all {
    word-break: break-all;
}

/* =============== Header =============== */
.header {}

.header-content {
    display: flex;
    align-items: center;
    padding: 28px 0 12px;
}

.navbar {
    margin-left: auto;
}

.navbar__list {
    display: flex;
}

.navbar__link {
    position: relative;
    display: inline-block;
    padding: 0 20px;
    font-family: "Public Sans";
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: var(--text-color-black-gray);
}

.navbar__link.navbar__link--active::after {
    position: absolute;
    content: "";
    width: 16px;
    height: 2px;
    left: 20px;
    bottom: -28px;
    background: var(--Primary-color-black-green);
}

.navbar__link:hover,
.navbar__link--active {
    color: var(--Primary-color-black);
}

.header-action__btn {
    margin-left: 88px;
}

/* =============== Hero =============== */
.hero-divider {
    height: 1px;
    background: linear-gradient(18deg, #fff 0%, #dddcdc 51.25%, rgba(212, 212, 212, 0) 100%);
}

.hero-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 0 88px;
}

.hero__content {
    width: 35.5%;
    flex-shrink: 0;
}

.hero__heading {
    width: 368px;
    font-family: "Public Sans";
    font-weight: 800;
    font-size: 5rem;
    line-height: 1.2;
    color: var(--Primary-color-black);
}

.hero__desc {
    margin-top: 20px;
    font-family: "Public Sans";
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: var(--text-color-black-gray);
}

.hero-row {
    display: flex;
    align-items: center;
    gap: 36px;
    margin-top: 42px;
}

.hero-play {
    display: flex;
    align-items: center;
    gap: 7px;
    cursor: pointer;
}

.hero-play__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: transparent;
    border: 5px solid;
    border-bottom-color: transparent;
    border-right-color: transparent;
    transform: rotate(-45deg);
    cursor: pointer;

}

@keyframes rotateInfinite {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.hero-play:hover .hero-play__btn {
    animation: rotateInfinite 3s linear infinite;
}

.hero-play__text:hover {
    color: #83a17d;
}

.hero-play__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #83a17d;
    transform: rotate(45deg);
}

.hero-play__text {
    text-align: center;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: var(--Primary-color-black);
}

.hero__media {
    position: relative;
    display: flex;
    width: 57%;
}

.hero__images {
    display: flex;
    gap: 20px;
}

.hero__img {
    width: 202px;
    height: 466px;
    object-fit: cover;
    border-radius: 110px;
}

.hero__img:nth-child(2) {
    margin-top: 77px;
}

.hero__media--bg {
    position: absolute;
    width: 340px;
    height: 340px;
    top: 154px;
    right: 150px;
    border-radius: 50%;
    background: #4dbb9a;
    filter: blur(137px);
    z-index: -1;
}

.hero__img--decor-top {
    width: 545px;
    position: absolute;
    top: 0px;
    right: 320px;
}

.hero__img--decor-bottom {
    width: 545px;
    position: absolute;
    transform: rotate(176deg);
    bottom: -40px;
    right: 50px;
}

/* =============== Brand =============== */
.brand {
    margin-top: 42px;
}

.brand__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 76px 121px;
    border-radius: 100.5px;
    background: var(--Secondary-color-light-green);
}

.brand__link {
    display: flex;
    align-items: center;
    font-size: 2.6rem;
    color: #163C35;
}

.brand__text {
    margin-left: 11px;
}

/* =============== Services =============== */
.service {
    margin-top: 106px;
}

.service-top {
    display: flex;
    justify-content: space-between;
}



.service__heading {
    max-width: 520px;
    margin-top: 12px;
}

.service-top__control {
    display: flex;
    align-items: center;
    gap: 17px;
    margin-right: 73px;
}

.service-top__control__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    color: var(--Primary-color-black);
    background: var(--Secondary-color-light-green);
    border-radius: 50%;
    outline: none;
    border: none;
}

.service-top__control__btn:last-child {
    transform: rotate(180deg);
}

.service-top__control__btn:hover {
    opacity: 0.9;
    background: var(--Primary-color-black-green);
    color: var(--white-color);
    cursor: pointer;
}

.service__list {
    margin-top: 76px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
}

.service-item {
    border-radius: 20px;
    overflow: hidden;
    transition: 0.25s;
}

.service-item:hover {
    background: #FFF;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.service-item:hover .service-item__img {
    transform: scale(1.2);
}

.service-item:hover .service-item__info {
    padding-left: 18px;
    padding-bottom: 8px;
    border-color: #fff;
}

.service-item__thumb {
    border-radius: 20px 20px 0px 0px;
    overflow: hidden;
}

.service-item__img {
    display: block;
    max-width: 100%;
    height: 318px;
    object-fit: cover;
    transition: 0.3s;
}

.service-item__info {
    padding: 24px 0 15px;
    transition: 0.3s;
}

.service-item__heading {
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
    color: var(--Primary-color-black);
}

.service-item__desc {
    margin-top: 18px;
    max-width: 268px;
}

/* =============== About =============== */
.about {
    margin-top: 157px;
}

.about-body {
    display: flex;
    justify-content: space-between;
}

.about-block {
    position: relative;
}

.about__images {
    display: flex;
    width: 52%;
    margin-top: 13px;
    gap: 21px;
}

.about__img {
    width: 284px;
    height: 480px;
    object-fit: cover;
    border-radius: 210px;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
}

.about__img:first-child {
    margin-top: 90px;
}

.about__img--decor {
    display: block;
    position: absolute;
    top: 15px;
    left: 10px;
    transform: rotate(12.645deg);
}

.about-card {
    position: absolute;
    bottom: 8px;
    right: -9px;
    padding: 19px 23px 12px;
    border-radius: 8px;
    background: var(--white-color);
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
}

.about-card__heading {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1;
    color: var(--Primary-color-black);
}

.about-card__desc {
    margin: 6px 0 10px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4;
    color: var(--text-color-black-gray);
}

.about-card__common {
    display: inline-block;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;
    color: var(--Primary-color-black);
}

.about-card__progres {
    position: relative;
    margin: 3px 0;
    width: 96px;
    height: 2px;
    border-radius: 10px;
    background: #EAEAEA;
}

.about-card__progres::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 2px;
    border-radius: 10px;
    background: #83A17D;
}

.about-card__load {
    color: var(--Primary-color-black);
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;
    margin-left: 52px;
}

.about-card__circle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px 0 5px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #eaeaea;
}

.about-card__circle::before {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: var(--Primary-color-black-green);
}

.about-card__team {
    display: flex;
    align-items: center;
}

.about-card__team--avatar {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: 30px;
}

.about-card__team--img {
    width: 16px;
    height: 16px;
    margin-left: -6px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid var(--white-color);
}

.about-content {
    width: 43%;
}

.about-content__heading {
    margin-top: 20px;
    max-width: 483px;
}

.about-content__desc {
    margin-top: 11px;
}

.about-content__row {
    display: flex;
    align-items: center;
    margin-top: 38px;
    padding-bottom: 20px;
    border-bottom: 1px solid #83a17d;
}

.about-content__info {
    max-width: 364px;
    margin-left: 24px;
}

/* =============== Process =============== */

