* {
    box-sizing: border-box;
}

:root {
    --Primary-color-black: #152427;
    --Primary-color-black-green: #143C3C;
    --Secondary-color-light-green: #E2EDDF;
    --Secondary-color-blue: #83A17D;
    --Secondary-color-gray: #6A8383;
    --text-color-black-gray: #575D5E;
    --text-color-light-gray: #7D8188;

    --white-color: #fff;
    --black-color: #000;

}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

html,
body {
    scroll-behavior: smooth;
}

/* =============== Common =============== */
.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    --height: 57px;
    display: inline-block;
    min-width: 173px;
    height: var(--height);
    line-height: var(--height);
    padding: 0 20px;
    text-align: center;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    border: 1.5px solid #143c3c;
    border-radius: 99px;
    color: var(--white-color);
    background: var(--Primary-color-black-green);
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.section-heading {
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
    color: var(--Primary-color-black);
}

.section-title {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62;
    color: var(--Primary-color-black);
}

.section-title::before {
    display: inline-block;
    content: "";
    width: 25px;
    height: 1px;
    background-color: var(--Primary-color-black);
    margin-bottom: 4px;
    margin-right: 21px;
}

.section-line {
    display: inline-block;
    width: 66px;
    height: 2px;
    margin-left: 8px;
    margin-bottom: 6px;
}

.lv1 {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
    color: var(--text-color-light-gray);
}

.lv2 {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62;
    color: var(--text-color-light-gray);
}

.lv3 {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71;
    color: var(--text-color-light-gray, #7D8188);
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.line-clamp.line-3 {
    --line-clamp: 3;
}

.break-all {
    word-break: break-all;
}

/* =============== Header =============== */
.header {
    position: sticky;
    top: -16px;
    z-index: 3;
    background: transparent;
}

.header.scrolled {
    background: #fff;
    opacity: 0.9;
}

.header-content {
    display: flex;
    align-items: center;
    padding: 28px 0 12px;
}

.navbar {
    margin-left: auto;
}

.navbar__list {
    display: flex;
}

.navbar__link {
    position: relative;
    display: inline-block;
    padding: 0 20px;
    font-family: "Public Sans";
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: var(--text-color-black-gray);
}

.navbar__link.navbar__link--active::after {
    position: absolute;
    content: "";
    width: 16px;
    height: 2px;
    left: 20px;
    bottom: -28px;
    background: var(--Primary-color-black-green);
}

.navbar__link:hover,
.navbar__link--active {
    color: var(--Primary-color-black);
}

.header-action__btn {
    margin-left: 88px;
}

/* =============== Hero =============== */
.hero-divider {
    height: 1px;
    background: linear-gradient(18deg, #fff 0%, #dddcdc 51.25%, rgba(212, 212, 212, 0) 100%);
}

.hero-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 0 88px;
}

.hero__content {
    width: 35.5%;
    flex-shrink: 0;
}

.hero__heading {
    width: 368px;
    font-family: "Public Sans";
    font-weight: 800;
    font-size: 5rem;
    line-height: 1.2;
    color: var(--Primary-color-black);
}

.hero__desc {
    margin-top: 20px;
    font-family: "Public Sans";
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: var(--text-color-black-gray);
}

.hero-row {
    display: flex;
    align-items: center;
    gap: 36px;
    margin-top: 42px;
}

.hero-play {
    display: flex;
    align-items: center;
    gap: 7px;
    cursor: pointer;
}

.hero-play__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: transparent;
    border: 5px solid;
    border-bottom-color: transparent;
    border-right-color: transparent;
    transform: rotate(-45deg);
    cursor: pointer;

}

@keyframes rotateInfinite {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.hero-play:hover .hero-play__btn {
    animation: rotateInfinite 3s linear infinite;
}

.hero-play__text:hover {
    color: #83a17d;
}

.hero-play__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #83a17d;
    transform: rotate(45deg);
}

.hero-play__text {
    text-align: center;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: var(--Primary-color-black);
}

.hero__media {
    position: relative;
    display: flex;
    width: 57%;
}

.hero__images {
    display: flex;
    gap: 20px;
}

.hero__img {
    width: 202px;
    height: 466px;
    object-fit: cover;
    border-radius: 110px;
}

.hero__img:nth-child(2) {
    margin-top: 77px;
}

.hero__media--bg {
    position: absolute;
    width: 340px;
    height: 340px;
    top: 154px;
    right: 150px;
    border-radius: 50%;
    background: #4dbb9a;
    filter: blur(137px);
    z-index: -1;
}

.hero__img--decor-top {
    width: 545px;
    position: absolute;
    top: 0px;
    right: 320px;
}

.hero__img--decor-bottom {
    width: 545px;
    position: absolute;
    transform: rotate(176deg);
    bottom: -40px;
    right: 50px;
}

/* =============== Brand =============== */
.brand {
    margin-top: 42px;
}

.brand__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 76px 121px;
    border-radius: 100.5px;
    background: var(--Secondary-color-light-green);
}

.brand__link {
    display: flex;
    align-items: center;
    font-size: 2.6rem;
    color: #163C35;
}

.brand__text {
    margin-left: 11px;
}

/* =============== Services =============== */
.service {
    margin-top: 106px;
}

.service-top {
    display: flex;
    justify-content: space-between;
}

.service__heading {
    max-width: 520px;
    margin-top: 12px;
}

.service-top__control {
    display: flex;
    align-items: center;
    gap: 17px;
    margin-right: 73px;
}

.service-top__control__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    color: var(--Primary-color-black);
    background: var(--Secondary-color-light-green);
    border-radius: 50%;
    outline: none;
    border: none;
}

.service-top__control__btn:last-child {
    transform: rotate(180deg);
}

.service-top__control__btn:hover {
    opacity: 0.9;
    background: var(--Primary-color-black-green);
    color: var(--white-color);
    cursor: pointer;
}

.service__list {
    margin-top: 76px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
}

.service-item {
    border-radius: 20px;
    overflow: hidden;
    transition: 0.25s;
}

.service-item:hover {
    background: #FFF;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.service-item:hover .service-item__img {
    transform: scale(1.2);
}

.service-item:hover .service-item__info {
    padding-left: 18px;
    padding-bottom: 8px;
    border-color: #fff;
}

.service-item__thumb {
    border-radius: 20px 20px 0px 0px;
    overflow: hidden;
}

.service-item__img {
    display: block;
    max-width: 100%;
    height: 318px;
    object-fit: cover;
    transition: 0.3s;
}

.service-item__info {
    padding: 24px 0 15px;
    transition: 0.3s;
}

.service-item__heading {
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
    color: var(--Primary-color-black);
}

.service-item__desc {
    margin-top: 18px;
    max-width: 268px;
}

/* =============== About =============== */
.about {
    margin-top: 157px;
}

.about-body {
    display: flex;
    justify-content: space-between;
}

.about-block {
    position: relative;
}

.about__images {
    display: flex;
    width: 52%;
    margin-top: 13px;
    gap: 21px;
}

.about__img {
    width: 284px;
    height: 480px;
    object-fit: cover;
    border-radius: 210px;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
}

.about__img:first-child {
    margin-top: 90px;
}

.about__img--decor {
    display: block;
    position: absolute;
    top: 15px;
    left: 10px;
    transform: rotate(12.645deg);
}

.about-card {
    position: absolute;
    bottom: 8px;
    right: -9px;
    padding: 19px 23px 12px;
    border-radius: 8px;
    background: var(--white-color);
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
}

.about-card__heading {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1;
    color: var(--Primary-color-black);
}

.about-card__desc {
    margin: 6px 0 10px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4;
    color: var(--text-color-black-gray);
}

.about-card__common {
    display: inline-block;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;
    color: var(--Primary-color-black);
}

.about-card__progres {
    position: relative;
    margin: 3px 0;
    width: 96px;
    height: 2px;
    border-radius: 10px;
    background: #EAEAEA;
}

.about-card__progres::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 2px;
    border-radius: 10px;
    background: #83A17D;
}

.about-card__load {
    color: var(--Primary-color-black);
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;
    margin-left: 52px;
}

.about-card__circle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px 0 5px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #eaeaea;
}

.about-card__circle::before {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: var(--Primary-color-black-green);
}

.about-card__team {
    display: flex;
    align-items: center;
}

.about-card__team--avatar {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: 30px;
}

.about-card__team--img {
    width: 16px;
    height: 16px;
    margin-left: -6px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid var(--white-color);
}

.about-content {
    width: 43%;
}

.about-content__heading {
    margin-top: 20px;
    max-width: 520px;
}

.about-content__desc {
    margin-top: 11px;
}

.about-content__row {
    display: flex;
    align-items: center;
    margin-top: 38px;
    padding-bottom: 20px;
    border-bottom: 1px solid #83a17d;
}

.about-content__info {
    max-width: 364px;
    margin-left: 24px;
}

/* =============== Process =============== */
.process {
    margin-top: 79px;
    padding: 36px 0 74px;
}

.process__heading {
    margin-top: 20px;
    max-width: 520px;
}

.process__line {
    background: var(--Primary-color-black);
}

.process__list {
    margin-top: 81px;
}

.process-item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 54px 20px 20px;
    transition: 0.3s;
}

.process-item:hover {
    cursor: pointer;
    padding: 72px 20px 54px;
    border-radius: 33px;
    background: var(--Secondary-color-light-green);
}

.process-item::before {
    position: absolute;
    content: "";
    width: 1131px;
    height: 3px;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, #83a17d 4.17%, rgba(131, 161, 125, 0) 36.46%);
}

.process-item__number {
    font-weight: 600;
    font-size: 7.2rem;
    line-height: 0.72;
    color: var(--Primary-color-black-green);
}

.process-item__name {
    min-width: 176px;
    margin-left: 64px;
}

.process-item__heading {
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
    color: var(--Primary-color-black);
}

.process-item__more {
    display: none;
    margin-top: 22px;
    font-size: 1.8rem;
    line-height: 1;
    text-decoration: underline;
    color: var(--text-color-black-gray);
    transition: 0.3s;
}

.process-item:hover .process-item__more {
    display: block;
}

.process__img {
    display: none;
    transition: 0.3s;
}

.process-item:hover .process__img {
    display: block;
    height: 185px;
    width: 572px;
    object-fit: cover;
    border-radius: 33px;
}

.process__desc {
    width: 572px;
    font-family: "Public Sans";
    transition: 0.3s;
}

.process-item:hover .process__desc {
    display: none;
}

.process__describe {
    margin-left: auto;
}

/* =============== Feature =============== */
.feature {
    margin-top: 74px;
    padding: 116px 0 63px;
    background: var(--Primary-color-black-green);
}

.feature-row {
    display: flex;
    align-items: center;
}

.feature__heading {
    max-width: 520px;
    color: #E7F9F9;
}

.feature__line {
    background: var(--Secondary-color-blue);
}

.feature-row__info {
    width: 50%;
}

.feature-row__desc {
    margin-top: 11px;
    font-family: "Public Sans";
    color: var(--Secondary-color-gray);
}

.feature-row__browse {
    display: flex;
    margin-top: 13px;
}

.feature__link {
    font-family: "Public Sans";
    color: var(--white-color);
    padding-right: 26px;
}

.feature-row__btn {
    padding: 6px 0;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
}

.feature-row__img {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #80a07b;
}

.feature__video--container {
    position: relative;
    margin-top: 65px;
}

.feature__video {
    width: 100%;
    border-radius: 22px;
}

.feature-play__btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 118px;
    height: 118px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    border: none;
}

.feature__winged-circle {
    position: absolute;
    right: -50px;
    top: -72px;
}

.feature__graphic {
    position: absolute;
    top: -165px;
    right: -45px;
}

/* =============== Share =============== */
.share {
    margin: 140px 0;
    padding-bottom: 44px;
}

.share-top {
    max-width: 548px;
    margin: 0 auto;
    text-align: center;
}

.share-top__heading {
    margin-bottom: 22px;
}

.share__list {
    margin-top: 103px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 45px;
}

.share-item {
    height: 362px;
    border-radius: 160px;
    border: 1.5px solid #cecece;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 0.3s;
}

.share-item:hover {
    border-radius: 160px;
    background: #fff;
    border: none;
    box-shadow: 0px 36px 100px 0px rgba(111, 120, 111, 0.2);
    margin-top: -58px;
}

.share-item__heading {
    margin: 26px 0 9px;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
    color: var(--Primary-color-black);
}

.share-item__desc {
    max-width: 286px;
}

/* =============== Blog =============== */
.blog {
    margin-top: 140px;
}

.blog-top {
    display: flex;
    align-items: center;
}

.blog__heading {
    max-width: 600px;
}

.blog__line {
    background: var(--Primary-color-black);
}

.blog-top__desc {
    max-width: 409px;
    margin-left: auto;
}

.blog-list {
    margin-top: 90px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.blog-item {
    border-radius: 40px 40px 0px 0px;
    overflow: hidden;
    transition: 0.3s;
}

.blog-item:hover {
    border-radius: 40px 40px 20px 20px;
    background: var(--white-color);
    box-shadow: 0px 12px 74px 0px rgba(91, 91, 91, 0.25);
}

.blog-item__thumb {
    overflow: hidden;
}

.blog-item__img {
    display: block;
    width: 360px;
    height: 317px;
    object-fit: cover;
    transition: 0.3s;
}

.blog-item:hover .blog-item__img {
    transform: scale(1.2);
}

.blog-item__info {
    display: flex;
    flex-direction: column;
    min-height: 200px;
    padding: 26px 0 12px;
    transition: 0.3s;
}

.blog-item:hover .blog-item__info {
    padding: 26px 12px 12px;
}

.blog-item__btn {
    max-width: 107px;
    height: 26px;
    line-height: 26px;
    border: none;
    border-radius: 20px;
    background: var(--Secondary-color-light-green);
    cursor: pointer;
}

.blog-item:hover .blog-item__btn {
    background-color: var(--Primary-color-black-green);
}

.blog-item:hover .blog-item__text {
    color: var(--white-color);
}

.blog-item__text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 32px;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    line-height: 1.2;
    color: var(--black-color);
}

.blog-item__title {
    margin-top: 13px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    color: var(--Primary-color-black-green);
}

.blog-item__date {
    margin-top: 38px;
    font-size: 1rem;
    font-weight: 500;
    text-align: right;
    padding-top: 16px;
    line-height: 1.2;
    color: var(--text-color-black-gray);
    border-top: 1px solid #c4c4c4;
}

/* =============== Footer =============== */
.footer {
    margin-top: 102px;
    padding: 72px 0 25px;
    background: var(--Primary-color-black-green);
}

.footer-body {
    display: flex;
    align-items: center;
    padding-bottom: 45px;
}

.footer__heading {
    color: var(--white-color);
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.5;
}

.email-subcribe {
    position: relative;
    margin-top: 15px;
    padding-bottom: 35px;
    display: flex;
    align-items: center;
}

.email-subcribe::before {
    position: absolute;
    content: "";
    width: 354px;
    height: 1px;
    bottom: 0;
    left: 0;
    background: var(--Secondary-color-gray);
}

.email-input {
    padding: 0;
    outline: none;
    border: none;
    background: transparent;
    color: #fcfcfc;
    width: 183px;
    height: 22px;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.subcribe-btn {
    margin-left: 112px;
    padding: 10px 20px;
    background: transparent;
    border: none;
}

.subcribe-btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.subcribe-btn__arrow {
    color: #c4c4c4;
}

.footer-social {
    margin-top: 47px;
    display: flex;
    align-items: center;
    gap: 22px;
}

.footer-social__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid #265252;
}

.footer-social__icon:hover {
    background: #a75325;
}

.instagram__square {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18.27px;
    height: 18.27px;
    flex-shrink: 0;
    border-radius: 3px;
    border: 2px solid #fcfcfc;
}

.instagram__circle {
    width: 7.027px;
    height: 7.027px;
    flex-shrink: 0;
    border-radius: 7.027px;
    border: 1px solid #fcfcfc;
}

.footer-link {
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 50px;
}

.footer-column {}

.footer-column__heading {
    font-family: "Public Sans";
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: var(--white-color);
}

.footer-column__list {
    margin-top: 6px;
}

.footer-column__item {
    margin-top: 6px;
}

.footer-column_link {
    font-family: "Public Sans";
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.25;
    color: var(--Secondary-color-gray);
}

.footer-column_link:hover {
    text-decoration: underline;
}

.footer-divider {
    width: 100%;
    height: 1px;
    background: linear-gradient(14deg, #143c3c 0%, #295a5a 53.48%, rgba(38, 82, 82, 0) 100%);
}

.footer-copyright {
    margin-top: 25px;
    font-weight: 500;
    font-size: 1.6rem;
    text-align: center;
    line-height: 2.25;
    color: var(--Secondary-color-gray);
}